*{
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height:70px;
    padding: 30px;
    z-index: 2;
    width:100%;
   
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 70px;

  }
  
 
  
  .nav-item a{
    text-decoration: none;
    color: white;
    transition: text-decoration 2s ease;
  }
  .nav-item a:hover{
    text-decoration: none;
    color: yellow;
    transition: text-decoration 2s ease;
  }
  
  
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
  }

  hr{
    margin:0px 0px;
}


/* Introduction */
.right{
  height:400px;
}
.Left{
  height:400px;
}
.right img{
    width:800px;
    height:450px;
    position: absolute;
    top:100px;
    right:100px;
    
   filter: drop-shadow(10px 10px 100px black);
    
    

}

.Left h1{
    color:#001d3d;

    font-size: 100px;
    white-space: nowrap
    
}
.Left p{
    color:#354f52;

    font-size: 20px;
    width:50%;
   
    
}

body{
    overflow-x: hidden;
    
}

.intro{
    padding:180px 40px;
    margin-left: 100px;
    height:100vh;
    background-color: #f5ebe0;
}

.hrclass{
    display: inline-block;
    width: 50px;
    height:40px;
    color:black;
    
}

.socialLogo{
    margin:0 10px;
    width:30px;
    height:30px;
    margin-bottom:30px;
    transition: 1s ease;
}


.logoContainer{
    margin:50px 100px;
}


.downArrow0{
    width:50px;
    height:50px;
    position: relative;
    /* bottom:10px; */
    /* right:50%; */
    margin-left: 50%;
    margin-top:70px;
    
    animation: mymove1 5s infinite;
    transform:translate(-50%, -50%);
  z-index: 20;
}

.downArrow2{
    width:50px;
    height:50px;
    position: relative;
    /* bottom:10px; */
    /* right:50%; */
    margin-left: 50%;
    margin-top:90px;
    transform:translate(-50%, -50%);
    
    animation: mymove 5s infinite;
    z-index: 20;
}

@keyframes mymove {
    0%   {bottom: 0px;}
    25%  {bottom: 20px;}
    75%  {bottom: 0px}
    100% {bottom: 20px;}
  }

@keyframes mymove1 {
    0%   {bottom: 0px;}
    25%  {bottom: 20px;}
    75%  {bottom: 0px}
    100% {bottom: 20px;}
  }


  /* Projects */
#projects{
    height:150vh;
    background-color: #ffdac6;
}
#projects h1{
  
   padding-top:70px;
   padding-bottom:30px;
   padding-left:45%;
   
   
}
.card{
  width: 18rem;
  border-radius: 20px;
  margin-bottom:30px;
}
.card-container{
    padding:50px;
    border-radius: 20px;
    
display: flex;
    flex-direction: row;
    justify-content: space-around;
    position:relative;
    flex-wrap: wrap;
  
}

/* .card{
    width:300px;
    height:300px;
    
} */

.card1 img{
  width:300px;
  height:310px;
  transition: 0.8s ease;
   border-radius: 20px !important;
}
.card1 img:hover{
  /* width:300px; */
  height:310px;
  opacity:0.5;

}
.card1{
     width:300px;
    height:310px;
    border-radius: 20px;
  border:1px solid white;
    color:black;
    border-radius: 20px !important;
    
}
.card1 a{
  text-decoration: none;
  color:black;
  margin-bottom:20px;
   
    
}

.card-title{
  transition: 0.9s ease;
  
}


.card1 a:hover .card-title{
  text-decoration: none;
  color:black;
    
}
.card2 img{
  width:300px;
  height:310px;
  transition: 0.8s ease;
  border-radius: 20px !important;
  
}
.card2 img:hover{
  width:300px;
  height:310px;
  opacity:0.5;

}
.card2{
     width:300px;
    height:310px;
    border-radius:10px;
    border:1px solid white;
    color:black;
    border-radius: 20px !important;
    
}
.card2 a{
  text-decoration: none;
  color:black;
  margin-bottom:20px;
  border-radius: 20px !important;
    
}

.card-title{
  transition: 0.9s ease;
  
}


.card2 a:hover .card-title{
  text-decoration: none;
  color:black;
  border-radius: 20px !important;
    
}
.card3 img{
  width:300px;
  height:310px;
  transition: 0.8s ease;
  border-radius: 20px;
  
}
.card3 img:hover{
  width:300px;
  height:310px;
  opacity:0.5;

}
.card3{
     width:300px;
    height:310px;
    border-radius:10px;
    border:1px solid white;
    color:black;
    border-radius: 20px !important;
    
}
.card3 a{
  text-decoration: none;
  color:black;
  margin-bottom:20px;
  border-radius: 20px !important;
   
    
}

.card-title{
  transition: 0.9s ease;
  
}


.card3 a:hover .card-title{
  text-decoration: none;
  color:black;
    
}



.card .btn{
    position:absolute;
    bottom: 10px;
    left:75%;
}
.card .card-title{
    position:absolute;
    bottom: 10px;
    left:3%;
}

/* Skills  */
#skills-section{
  height:100vh;
  background-color:#fefae0;
  padding:80px;
  position: relative;
  
}

.skills{
  display:flex;
  justify-content:space-evenly;
  gap:90px;
  flex-wrap: wrap;
  padding:20px;
}



#skills-section img{
  width:120px;
  height:120px;
}
#skills-section img:last-child{
  width:50px;
  height:50px;
}

.skill-card {
  display: inline-block;
  max-height: 90px;
  margin-bottom: 20px;;
  

}

.skill-card div{
  opacity: 0;
  text-align: center;
  

}
.skill-card:hover div{
  transition: 1s;
    opacity:1;

}

#skills-section h1{
  color:#001d3d;
  text-align: center;
  margin-bottom: 40px;
  font-size:80px;
  font-family: 'Bricolage Grotesque', sans-serif;
}

.downArrow3{
  width:30px;
  height:30px;
  position: relative;
  
  margin-left: 50%;
  margin-top:90px;
  transform:translate(-50%, -50%);
  
  animation: mymove 5s infinite;

}

/* Footer */
#footer{
  height:80vh;
  background-color: black;
  padding:20px;
  position: relative;
}

#footer h1{
  padding-bottom:30px;
}

.about-hr{
  margin:0px;
}


#footer p{
  color:white;
}
#footer p:hover{
  color:yellow;
}

#footer hr{
  color:white;
  width:40%;
}

#footer .right{
  color:white;
  width:30%;
}
#footer h1{
  color:yellow;
}
#footer h1:hover{
  color:white;
}

#footer .left{
  padding:50px;
}

#footer .right{
  padding:50px;
}


form input{
  width:100%;
  border-radius: 10px;
  border:none;
  padding-left:10px;
  height:40px;
  
}

form textarea{
  width:150%;
  border-radius: 10px;
  border:none;
  padding-left:10px;
  height:90px;
  margin-bottom: 10px;
  
}

form label{
  padding:10px 0;
  
}

form label:hover{
  color: yellow;
  
}

form textarea:focus{
  outline:none;
  border:none;
}
form input:focus{
  outline:none;
  border:none;
}

form button{
  /* margin-left: 50px;; */
  border-radius: 10px;
  padding:10px 20px;
  color:black;
  font-weight: bold;
  background-color: white;
  border: none;
  transition: 0.8s ease-in-out;
}

form button:hover{

  background-color:yellow;
  color:black;
}

#downloadButton{
  padding:20px 70px;
  border:5px solid yellow;
  background-color: black;
  color:#818181;
  transition: 0.5s ease;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top:-5px;
  transform:translate(-50%, -50%);

}

#downloadButton:hover{
  padding:20px 70px;
  border:5px solid yellow;
  background-color: yellow;
  color:black;
  font-weight: bold;

}

/* Tablet */
@media (max-width: 1390px) {

  #projects{
    height:180vh;
    background-color: #ffdac6;
}

#skills-section img{
  width:100px;
  height:100px;
}


  #skills-section{
    height:130vh;
    background-color:#fefae0;
    padding:80px;
    position: relative;
    
  }


}
  @media (max-width: 900px) {
    .menu-toggle {
      display: flex;
    }
    
    .nav-list {
      display: none;
      flex-direction: column;
      background-color: #333333;
      position: absolute;
      
      top: 70px;
      left: 0;
      width: 100%;
    
    }
    
    .nav-item {
      margin: 0;
      padding:18px;
      text-align: center;
    }

    hr{
        margin:0px 0px !important;
    }
   
    
    .nav-list.active {
      display: flex;
    }


/* Intoduction */


.right{
  height:200px;
}
.Left{
  height:200px;
  
}
.right img{
    width:400px;
    height:300px;
    position: absolute;
    top:330px;
    right:70px;
    
   filter: drop-shadow(10px 10px 100px black);
    
    

}

.Left h1{
    color:#001d3d;

    font-size: 70px;
    white-space: nowrap
    
}
.Left p{
    color:#354f52;

    font-size: 20px;
    width:100%;
   
    
}

body{
    overflow-x: hidden;
    
}

.intro{
    padding:100px 40px;
    margin-left: 100px;
    height:100vh;
    background-color: #f5ebe0;
   
}

.hrclass{
    display:none;

    
}

.socialLogo:first-child{
   
    margin-bottom: 70px;
}
.socialLogo{
    margin:0 10px;
    width:30px;
    height:30px;
    margin-bottom: 50px;
}

.logoContainer{
    margin:50px 100px;
    display: flex;
    flex-direction: column;
}

.downArrow0{
  width:50px;
  height:50px;
  position: relative;
  /* bottom:10px; */
  /* right:50%; */
  margin-left: 50%;
  margin-top:70px;
  
  animation: mymove1 5s infinite;
  transform:translate(-50%, -50%);
z-index: 20;
}

.downArrow2{
  width:50px;
  height:50px;
  position: relative;
  /* bottom:10px; */
  /* right:50%; */
  margin-left: 50%;
  margin-top:90px;
  transform:translate(-50%, -50%);
  
  animation: mymove 5s infinite;
  z-index: 20;
}

@keyframes mymove {
  0%   {bottom: 100px;}
  25%  {bottom: 160px;}
  75%  {bottom: 100px}
  100% {bottom: 160px;}
}


/* Project Tablet */

#projects{
  height:100%;
  background-color: #ffdac6;
}
#projects h1{
 padding:90px 45%;
 
}


.card-container{
  padding:50px;
  
display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  gap:30px;
  position:relative;
}
.card1 img{
  width:300px;
  height:310px;
  transition: 0.8s ease;
   border-radius: 20px !important;
}
.card1 img:hover{
  /* width:300px; */
  height:310px;
  opacity:0.5;

}






/* Skills  Tablet*/
#skills-section{
  height:100vh;
  /* width:100vw; */
  padding:40px;
  position: relative;
  
}


.skills{
  display:flex;
  justify-content:space-evenly;
  gap:70px;
  flex-wrap: wrap;
  padding:20px;
}



#skills-section img{
  width:80px;
  height:80px;
}
#skills-section img:last-child{
  width:50px;
  height:50px;
}

.skill-card {
  display: inline-block;
  max-height: 50px;
  margin-bottom: 10px;
  

}



#skills-section h1{
  color:#001d3d;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
  font-size:40px;
  font-family: 'Bricolage Grotesque', sans-serif;
}

.downArrow3{
  width:30px;
  height:30px;
  position: relative;
  
  margin-left: 45%;
  margin-top:90px;
  transform:translate(-50%, -50%);
  
  animation: mymove 5s infinite;

}
@keyframes mymove {
  0%   {bottom: 0px;}
  25%  {bottom: 20px;}
  75%  {bottom: 0px}
  100% {bottom: 20px;}
}

#footer{
  height:100vh;
  background-color: black;
  padding:20px;
  position: relative;
}


  }

/* Mobile */


  @media ( max-width:415px) {

  

    /* Navbar */
    .navbar{
      width:94vw;
      z-index: 999;
      overflow-x: hidden;
    }


    /* Intro */

    .intro{
      padding-left: 20px;
      overflow-x: hidden;
    }

    .Left h1{
      color:#001d3d;
  text-align: center;
      font-size: 30px;
      white-space: nowrap
      
  }


.logoContainer .insta{
  position: absolute;
  top:400px;
  left:10px;
  z-index: 3;
}
.logoContainer .linkedin{
  position: absolute;
  top:450px;
  left:10px;
  z-index: 3;
}
.logoContainer .git{
  position: absolute;
  top:500px;
  left:10px;
  z-index: 3;
}

.right img{
  width:300px;
  height:200px;
  /* position: absolute; */
  top:400px;
  right:50px;
  
 filter: drop-shadow(10px 10px 100px black);

}

.card1 img{
  width:200px;
  height:210px;
  border-radius: 20px;
  transition: 0.8s ease;
  
}

.card1{
     width:200px;
    height:210px;
    border-radius:20px !important;
    border:1px solid white;
    color:black;
   
}
.card1 a{
  border-radius: 20px;
   height:210px;
   
}
.card2 img{
  width:200px;
  height:210px;
  border-radius: 20px;
  transition: 0.8s ease;
  
}

.card2{
     width:200px;
    height:210px;
    border-radius:20px !important;
    border:1px solid white;
    color:black;
   
}
.card2 a{
  border-radius: 20px;
   height:210px;
   
}
.card3 img{
  width:200px;
  height:210px;
  border-radius: 20px;
  transition: 0.8s ease;
  
}

.card3{
     width:200px;
    height:210px;
    border-radius:20px !important;
    border:1px solid white;
    color:black;
   
}
.card3 a{
  border-radius: 20px;
   height:210px;
   
}

.downArrow0{
  
  margin-left: 50%;
  margin-top:170px;
  
z-index: 20;
}


  .Left p{
    color:#354f52;

    font-size: 15px;
    width:97%;
    text-align: center;
    padding-right: 20px;
   
    
}

.intro{
  
  height:90vh; 
  background-color: #f5ebe0;
}


/* Projects */


#projects h1{
  
  padding-top:50px;
  padding-bottom:10px;
  padding-left:35%;
  
}



.card-container{
  padding:10px;
}

    
/* Skills */


    #skills-section{
      overflow-x:hidden;
      height:100vh;
      width:100vw;
      padding:20px;
      position: relative;
      
    }
    
    .skills{
      display:flex;
      justify-content:space-evenly;
      gap:30px;
      flex-wrap: wrap;
      padding:10px;
    }
    
    
    
    #skills-section img{
      width:50px;
      height:50px;
    }
    #skills-section img:last-child{
      width:30px;
      height:30px;
    }
    
    .skill-card {
      display: inline-block;
      max-height: 50px;
      margin-bottom: 10px;
      
    
    }
    
    
   
    #skills-section h1{
      color:#001d3d;
      text-align: center;
      margin-bottom: 30px;
      font-size:40px;
      font-family: 'Bricolage Grotesque', sans-serif;
    }

    .downArrow3{
      width:30px;
      height:30px;
      position: relative;
      
      margin-left: 50%;
      margin-top:30px;
      
      animation: mymove 5s infinite;
    
    }



    /* Footer */

    #downloadButton{
      left: 47%;
      
    }
   
    #footer .row{
      display: flex;
      flex-direction: column;
    }


    #footer{
      height:160vh;
     padding:5px;
    }

    #footer p{
      white-space: nowrap;
    }

    .about-hr{
      width:250px !important;
    }

    #footer h1{
      padding-top:50px;
    }

    #footer .right{
      white-space: nowrap;
    }

    #footer form{
      display: flex;
      flex-direction: column;
    }

    form input{
      width:200px;
      border-radius: 10px;
      border:none;
      padding-left:10px;
      height:40px;
      
    }

    form textarea{
      width:200px;
      border-radius: 10px;
      border:none;
      padding-left:10px;
      height:90px;
      margin-bottom: 10px;
      
    }

    form button{
      border-radius: 10px;
      padding:10px 20px;
      padding-right: 70px;
      margin-left:190px;
    }

    form textarea{
      margin-left:80px;
    }
  }

  
  